// Navigation Styles here

nav {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  padding-right: 20px;

  a {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;

  }
  .title {
    font-family: 'Indie Flower', cursive;
    flex-basis: 55%;
    font-size: 4rem;
  }
}

hr {
  width: 100%;
  border-style: none;
  border-bottom: 2px dashed @navigation-border;
  margin: 0;
}
